.about__circle {
  height: 7rem;
  width: 7rem;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  justify-self: center;
  color: rgb(73, 106, 129);
  font-weight: bold;
}

.about__circle:nth-child(2n) {
  color: rgb(245, 138, 7);
}

.about__circle:hover {
  cursor: pointer;
  color: rgb(250, 187, 60);
}

.about__cv {
  position: fixed;
  height: 90%;
}

@media (min-width: 800px) {
  .about__circle {
    height: 12rem;
    width: 12rem;
    font-size: 2rem;
  }
}
