.about__cv {
  position: fixed;
  height: 90%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 60;
}

.about__modal-title {
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about__modal-text {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .about__modal-title {
    margin-bottom: 2rem;
  }

  .about__modal-text {
    line-height: 1.5rem;
  }
}
